.cell {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    display: table-cell;
    cursor: pointer;   
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: table-cell;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}